# Compiler files
cache/
out/

# Ignores development broadcast logs
!/broadcast
/broadcast/*/31337/
/broadcast/**/dry-run/
/broadcast/*/421614/
/broadcast/DeployTestnetFaucetFlat.s.sol/

# Docs
docs/

# Dotenv file
.env
/backend/.env

# Node Modules
/backend/node_modules/

# Artifacts
/src/Artifacts/